
html {background-color:#FFF;}
p{margin:0px;}

.contentPanel{
	border:1px solid #CCC;
	height:589px;
	width:933px;
	float:right;
}
.dayBox{
	width:128px;
	height:260px;	
	background-color:white;
	display:inline-table;
	border: 1px solid black;
	margin-top:-5px;
}
.decisionBox{
	background-color:#666;
	width:65px;
	height:25px;
	float:right;
	margin-top:25px;
}
.dynamicPanel{
	float:right;
	width:576px;	
	height:571px;
	margin-right:10px;
	border:1px solid black;
	margin-top:8px;
}
.introAdminText{
	font-size:14px;
	margin:0px;
}
.notification{
	font-size:12px;
	border:1px solid black;
	width:156px;
	height:67px;
	padding:3px;
}
.notificationBox{
	background-color:#EEE;
	width:164px;
	height:75px;
	margin-right:auto;
	margin-left:auto;
	margin-top:3px;
	margin-bottom:4px;
	border:1px solid #FFF;
}
.options{
	float:left;
	width:344px;
	height:581px;	
	text-align:center;
}
.taskBox{
	background-color:#EEE;
	width:184px;
	height:60px;
	margin-left:3px;
	margin-top:3px;
	border:1px solid white;
}
.taskBox:hover, .taskBox:focus, .notificationBox:hover, .notificationBox:focus{
	background-color:#DDD;
}
.taskBox:active, .notificationBox:active{
	background-color:#CCC;
}

#backPanel{
	background-color:white;
	margin-right:auto;
	margin-left:auto;
	margin-top:10px;
	height:640px;
	width:1137px;
}
#bottomLeftBar{
	border:1px solid #AAA;
	margin-top:5px;
	background-color: #BBB;
	width:190px;
	height:280px;
	margin-left:auto;
	margin-right:auto;
}
#calendarBox{
	display:table;
	height:530px;
	width:910px;
	background-color:#EEE;
	margin-right:auto;
	margin-left:auto;
	padding: 5px;
	overflow:auto;
}
#calendarScroll{
	overflow-y:auto;	
	overflow-x:hidden;
	width:932px;	
	height:531px;
	margin:0px;
}
#deadlinePanel{
	display:none;
}
#employeeManagementPanel{
	display:none;

}
#leftBar{
	background-color:#DDD;
	height:590px;
	width:200px;
	border-right: 1px solid #CCC;
	border-left: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
	display:inline;
	float:left;
}
#loginForm{
	position:absolute;
	top:50%;
	margin-top:-37.5px;
	margin-left:-130.5px;
	left:50%
}
#loginPanel{
	text-align:center;
	margin-top:200px;
	position:absolute;
	background-color:#EEE;
	width:406px;
	height:210px;
	margin-left:351px;
	border:1px solid #DDD;
	
	
}
#logoutBox{
	width:80px;
	height:27px;
	float:right;
	margin-top:12px;
	margin-right:10px;
	background-color:#BBB;
}

#mainContentPanel{
	display:none;

}
#scheduleHeader{
	text-align:center;
}
#schedulePanel{
	display:none;
}

#shiftManagementPanel{
	display:none;
}
#topBar{
	background-color:#666;
	height:50px;
	width:1137px;
}
#topLeftBar{
	border:1px solid #AAA;
	background-color: #BBB;
	width:190px;
	height:290px;
	margin-top:5px;
	margin-left:auto;
	margin-right:auto;
	overflow-x:hidden;
	overflow-y:auto;
}








